<div class="vacationRoutes">
  <div class="textResults">
    <center>
    <p><b><h1>Your journey from {{start}}</h1></b></p>
    <font size="5px">
    <div class="firstRoute">
      <p><b>Equinox Columbus Circle</b></p>
      <p><i>10 Columbus Cir - 0.45 miles</i></p>
    </div>
    <div class="secondRoute">
      <p><b>Bread & Honey</b></p>
      <p><i>941 8th Ave - 0.18 miles</i></p>
    </div>
    <div class="thirdRoute">
      <p><b>Gulliver's Gate</b></p>
      <p><i>216 W 44th St - 0.60 miles</i></p>
    </div>
    <div class="fourthRoute">
      <p><b>Rock & Rileys</b></p>
      <p><i>218 W 35th St - 0.49 miles</i></p>
    </div>
  </font>
  <!--Link to page of vacations, commented out-->
    <!-- <a href="/vacationHome" style="color: #CC0000"><h3>Go back to your Vacations</h3></a>  -->
  </div> <br>
  <div class="map" style="margin-bottom: 20px;">
    <script type="text/javascript">
    window.onload = function() {
      var destinations = ["{{destinations}}"];
      var splitted = destinations[0].split(',');
      console.log('this is destinations first element', destinations[0]);
      L.mapquest.key = 'm2oOkmxh023gNNh8jhsQGhi3UNB2Tuw2';
      var map = L.mapquest.map('map', {
        center: [40.758899,-73.9873197],
        layers: L.mapquest.tileLayer('map'),
        zoom: 13
      });
      L.mapquest.directions().route({
        start: "{{start}}",
        end: "{{start}}",
        waypoints: splitted
      });
    }
    </script>
   </head>
   <div>
     <center>
    <div id="map" style="border: 3px solid black; width: 70%; height: 530px;"></div>
  </center>
</div>
  </div>
  </center>
</div>
<!-- <div class="viewVacation">
  <div class="row">
    <div class="mapVacation col-xs-6">
      <img src="http://images.clipartpanda.com/globe-clipart-black-and-white-vector-214-globe-svg.svg" style="width:7em; height:7em;"> <br>
      <a href="/mapVacation">Click here for map view</a>
    </div>
    <div class="textVacation col-xs-6">
      <img src="https://cdn.pixabay.com/photo/2014/04/03/11/46/paper-312111_960_720.png" style="width:7em; height:7em;"> <br>
      <a href="/textVacation">Click here for text view</a>
    </div>`
  </div> -->
<!-- </div> -->
<!-- </center> -->

<!-- <html>
  <head>
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.0.0/mapquest.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.0.0/mapquest.css"/>
    <script type="text/javascript">
      window.onload = function() {
        var destinations = ["{{destinations}}"];
        var splitted = destinations[0].split(',')
        console.log(splitted);
        console.log(destinations);
        L.mapquest.key = 'm2oOkmxh023gNNh8jhsQGhi3UNB2Tuw2';
        var map = L.mapquest.map('map', {
          center: [40.758899,-73.9873197],
          layers: L.mapquest.tileLayer('map'),
          zoom: 13
        });
        L.mapquest.directions().route({
          start: "{{start}}",
          end: "{{start}}",
          waypoints: splitted
        });
      }
    </script>
  </head>
  <body style="border: 0; margin: 0;">
    <div id="map" style="width: 100%; height: 530px; border: 10px solid black;"></div>
  </body>
</html> -->
