
    <!--  Food-->
  <style>
    .jobsDiv {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  </style>
  <div class="jobsDiv">
    <div style="flex:1; ">
    <b><h2 style="font-size:300%; margin-top:2em;">{{jobObj.title}}</h2></b>
    <img style="width:250;height:200px;" src={{jobObj.picture}} /> <br>
  </div>
  <div style="flex:1">
  <label><h3 style="margin-top:4em;"><b>Employer: {{jobObj.employerName}}</b></h3></label> <br>
  <label style="font-size:120%">Description: {{jobObj.description}}</label> <br>
  <label style="font-size:120%">Location: {{jobObj.location}}</label> <br>
  <label style="font-size:120%">When: {{toDate jobObj.when}}</label> <br>
  <label style="font-size:120%">Total Pay: ${{jobObj.totalPay}}</label> <br>
  <label style="font-size:120%">Time Allotted: {{jobObj.timeAllotted}}</label> <br>
  </div>
</div> <br>

<form class="well" method="POST">
  <h3>Apply For Job</h3>
  <div class="form-group">
    <label>First Name</label>
    <input type="text" name="firstName" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Middle Name</label>
    <input type="text" name="middleName" class="form-control">
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" name="lastName" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" name="email" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Contact Number</label>
    <input type="text" name="phoneNumber" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Social Security Number</label>
    <input type="text" name="socialSecurity" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" name="password" class="form-control" required="">
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" name="passwordRepeat" class="form-control" required="">
  </div>
  <div class="form-group">
    <button class="btn btn-success" style="border-radius: 5px; padding: 0.5px; width:170px; height:40px; font-weight:medium; font-size:20px">Apply</button>
  </div>
</form>

<style>
  .well {
      background-color: rgba(245, 245, 245, 0.8);
  }
</style>
